.Timeline {
  text-align: center;
  background: rgb(121, 224, 238);
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.Tweet {
  height: 200px;
  width: 200px;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
